<h2 mat-dialog-title class="mb-3">{{title}}</h2>

<mat-dialog-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">

    <div class="form-truck">

      <!-- Patente -->
      <div class="mt-2 mb-3 row">
          <label class="col-sm-3 col-form-label">Patente</label>
          <div class="col-sm-9">
              <input class="form-control"
                    formControlName="patente_carroceria"
                    placeholder="">
              <span *ngIf="isValidField('patente_carroceria')"
                    class="form-text text-danger">
                    {{ getFieldError('patente_carroceria') }}
              </span>
          </div>
      </div>

      <!-- Ejes -->
      <div class="mt-2 mb-3 row">
          <label class="col-sm-3 col-form-label">Cant. Ejes</label>
          <div class="col-sm-9">
              <input class="form-control"
                    formControlName="cant_ejes"
                    placeholder=""
                    type="number"
                    >
              <span *ngIf="isValidField('cant_ejes')"
                    class="form-text text-danger">
                    {{ getFieldError('cant_ejes') }}
              </span>
          </div>
      </div>

      <!-- Anio -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Año</label>
        <div class="col-sm-9">
            <input class="form-control"
                  formControlName="anio"
                  placeholder=""
                  type="number">
            <span *ngIf="isValidField('anio')"
                  class="form-text text-danger">
                  {{ getFieldError('anio') }}
            </span>
        </div>
      </div>

      <!-- Descripción -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Descripción</label>
        <div class="col-sm-9">
          <select class="form-select" formControlName="cod_tipo_carroceria">
            <option value="" disabled selected>Seleccione un tipo de camión</option>
            <option *ngFor="let types of typesCarrocerias" value="{{types.cod_tipo_carroceria}}">{{types.descripcion}}</option>
          </select>

          <span *ngIf="isValidField('cod_tipo_carroceria')"
                  class="form-text text-danger">
                  {{ getFieldError('cod_tipo_carroceria') }}
          </span>
        </div>
      </div>
      </div>

    <div *ngIf="pristine" style="color: red; margin-bottom: 10px;">
      Ningún campo ha sido modificado
    </div>

    <div class="d-flex justify-content-between">
      <button class="btn btn-primary">Guardar</button>
      <button class="btn btn-secondary" type="button" (click)="closeModal()">Cancelar</button>
    </div>
</form>
</mat-dialog-content>
