.custom-background {
  background-color: #f1f1f1;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  /*align-items: center;*/
}

.icon-fontawesome{
  cursor: pointer;
}

.btn-delete{
  color: #e20000;
}
.btn-new{
  color: #06a273;
}
.btn-modif{
  color: #0528ee;
  margin-left: 20px
}

.btn-new:hover{
  color: #00ca0a;
}

.btn-modif:hover{
  color: #0282fa;
}

.btn-delete:hover{
  color: #ff0000;
}
