<nav class="navbar bg-dark border-bottom navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">D.M.O Cargas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- <div class="navbar-nav"> -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link a-quienes-somos" href="quienes-somos.html" target="_blank">¿Quiénes Somos?</a>
          </li>
          <li class="nav-item">
              <a class="nav-link a-contacto" href="#contacto">Contacto</a>
          </li>

      </ul>
      <ul class="navbar-nav">
          <li class="nav-item"><a href="logIn.html" class="btn btnDador">Ingresar</a></li>
          <li class="nav-item"><a href="register.html" class="btn btnTranspor">Registrate</a></li>
      </ul>
      <!-- </div> -->
    </div>
  </div>
</nav>
<section class="seccionUno d-flex">
  <img class="img" src="../../assets/images/truck-1.jpg" alt="imagen Section One">
  <div class="contenedor">
      <p class="h5Bienvenido text-uppercase text-center font-weight-bold"><b>¡Bienvenidos!</b></p>
      <p class="subTitulo text-center"><em>Somos tu nueva forma de moverte y mover tu carga</em></p>
      <p class="parrafo text-center">Ahora puedes ser más eficiente en tu negocio. Traslada tus cargas a traves de nuestro sistema de oferta y demanda, simplificando las transacciones y los procesos.</p>
      <p class="parrafo text-center font-weight-bold mb-0">¿Aun no te has registrado? Haz click <a href="register.html"><u>Aquí</u></a>.</p>
  </div>
</section>
